services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - MODE=production
      - DOMAIN=https://fastinvest.cloud
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=5001
      - MONGODB_CONNECTIONSTRING=${MONGODB_CONNECTIONSTRING}
    restart: unless-stopped
    networks:
      - app-network

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'    # HTTP
      - '81:81'    # Admin UI (đây là port admin thật!)
      - '443:443'  # HTTPS
    environment:
      DB_MYSQL_HOST: "db"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge