name: Deploy
on:
  workflow_dispatch:  # Chạy thủ công (Comment khi muốn chạy theo event push)
  # push: # Bỏ cmt để chạy theo event push code vào main
  #   branches:
  #     - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        request_pty: true
        script: |
          cd final-project
          git pull
          docker compose down
          BUILDKIT_PROGRESS=plain docker compose build --progress=plain --no-cache
          docker compose up -d --build